name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout self
        uses: actions/checkout@v1
        with:
          token: ${{ secrets.OSPREY_TOKEN }}
          submodules: true
      - name: run static site generator
        uses: ./action-hugo
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: push site to webhost
        uses: w9jds/firebase-action@7d6b2b058813e1224cdd4db255b2f163ae4084d3
        env:
          PROJECT_ID: seedshare
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        with:
          args: deploy
    needs: [build]
