name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Action Hugo
        uses: kevvurs/action-hugo@v1.1-rc1
      - name: publish website
        uses: w9jds/firebase-action@7d6b2b058813e1224cdd4db255b2f163ae4084d3
        env:
          PROJECT_ID: seedshare
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        with:
          args: deploy
